name: CI - Maven (intro_proyecto)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Java (Temurin)
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: maven


      - name: Build & run tests (Maven)
        run: mvn -B -f intro_proyecto/pom.xml clean test
        env:
          MAVEN_OPTS: "-Xmx1024m"


      - name: Upload Surefire reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: surefire-reports
          path: intro_proyecto/target/surefire-reports/**
